body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Variables */
:root {
  --connector-color: #e7eef5;
  --arrow-color: #393939;
  --alt-bg-color: #f9fbfd;
  --primary-font-color: #4a4a4a;
  --border-radius: 5px;
  --header-bg-color: #000000;
  --footer-bg-color: #333333;
}
