.toolbar {
  margin: 10px 0;
  border: 1px solid var(--connector-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.tools {
  margin: 0 15px;
}

.tools input {
  border-radius: var(--border-radius);
}

.tools select {
  border-radius: var(--border-radius);
}
